body{
  margin: 0;
}
.accordion__title{
  font-family: sans-serif;
  font-weight: 700;
  color: #337AB7;
}
.container{
  margin: 0 auto;
  padding: 0 1.125em;
}
.accordion__item{
  display: flex;
  flex-direction: column;
  transition: background-color 0.5s;
  border-top: 0.0625em solid #fff;
}
.icon-arrow{
  visibility: hidden;
  width: 1.125em;
  height: 1.125em;
}
.icon-thumb{
  display: none;
  width: 1.125em;
  height: 1.125em;
}
.accordion__open{
  display: flex;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  max-height: 0;
  transition: max-height 1s;
}
.accordion__open:active{
  background-color: #777373;
} 
label{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 1.125em;
  font-family: Verdana, sans-serif; 
  font-size: 1.125em;
  transition: background-color .35s;
  box-shadow: 0 0.125em 0.25em #000;
  color: #BFE2FF;
  background-color: #337AB7;
}
label:active{
  background-color: #7a9eec;
}
input{
  display: none;
}
.accordion__img{
  width: 100%;
  object-fit: contain;
  vertical-align: top;
}
input:checked + label > span > .icon-thumb{
  display: inline;
}
input:checked + label + .accordion__open{
  max-height: 100em;
}
@media(min-width: 575.98px){
  .container{
    max-width: 33.75em;
  }
  .accordion__img{
    width: 50%;
    padding: 1.25em 0;
  }
}   
@media(min-width: 767.98px){
  .container{
    max-width: 45em;
  }
  .accordion__img{
    width: 40%;
    padding: 1.25em 0;
  }
  .accordion__title {
    font-size: 1.25em;
  }
}  
@media(min-width: 1023.98px){
  .container{
    max-width: 64em;
  }
  .accordion__img{
    width: 30%;
  }
  .accordion__title {
    font-size: 1.5625em;
  }
  .accordion:hover .icon-thumb{
    display: none;
  }
  .accordion:hover .icon-arrow{
    visibility: visible;
  }
  .accordion:hover label{
    color: #fff;
  }
  .accordion__item:hover > input + label > span > .icon-arrow{
    transform: rotate(360deg);
    transition: transform 1s;
  }
  .accordion__item:hover .accordion__open{
    max-height: 100em;
    transition: max-height 4s;
  }
}  
